html {
  background-color: #8F6593; }

h1 {
  font-size: 5em; }

p {
  font-size: 1.5em; }

#navbar {
  background-color: #372549 !important; }
  #navbar .navbar-brand {
    color: white;
    font-size: 2em;
    margin-left: 3rem; }
  #navbar .nav-link {
    color: white;
    margin-left: 3rem; }

#cv-nav {
  margin-right: 3rem; }

article.body section.welcome {
  background-color: #8F6593;
  color: white;
  padding-bottom: 10rem; }
  article.body section.welcome .profile-img {
    border-radius: 10%;
    max-width: 100%;
    height: 300px;
    background-image: url(../img/profile2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #372549; }
  article.body section.welcome div.text-heading {
    padding-left: 5rem;
    margin-right: -10rem; }

article.body section.research {
  background-color: #C4BCD0;
  padding-top: 10rem;
  padding-bottom: 10rem; }

article.body section.publications {
  background-color: lavender;
  padding-top: 10rem;
  padding-bottom: 10rem; }

article.body section.contact {
  background-color: #C4BCD0;
  padding-top: 10rem;
  padding-bottom: 10rem; }

article.footer {
  text-align: center;
  color: white;
  background-color: #372549;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  article.footer p {
    font-size: 1.25em; }
