@import "vars";

html {
  background-color: white;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

body {
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

h1 {
  font-size: 4em;
  @media (min-width: 767.98px) {
    font-size: 5em;
  }
  box-sizing: border-box;
  font-family: Avenir;
}

h2 {
  font-size: 3em;
  font-family: Avenir;
}

p {
  font-size: 1.5em;
  font-family: Avenir;
}

#navbar {
  font-family: Avenir;

  .navbar-toggler {
    color: black;
  }

  .nav-link, .navbar-brand  {
    color: black;
    font-weight: bold;
    @media (min-width: 767.98px) {
      margin-left: 3rem;
    }
  }

  .dropdown-menu {
    background-color: $green;

    .dropdown-item {
      background-color: $green;
    }
  }

  .dropdown:hover .dropdown-menu {display: block;}

}

.changeColor {
  background-color: darkslategrey !important;
  transition: background-color 200ms linear;

  .navbar-brand, .nav-link, .navbar-toggler {
    color: white !important;
    transition: color 200ms linear;
  }

  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
}

#cv-nav {
  margin-right: 3rem;
}

article.body {

  section.welcome {
    color: black;
    padding-bottom: 3rem;

    .big-name {
      text-align: center;
      position: relative;
      height: 40em;
      background-image: url(../img/cover_pic.jpeg);
      @media (min-width: 1650px) {
        height: 47em;
      }
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;

      h1 {
        position: absolute;
        top: 39%;
        left: 0%;
        right: 40%;
      }
    }

    .profile {
      padding-top: 3rem;
    }

    .profile-img {
      //border-radius: 20%;
      max-width: 100%;
      height: 325px;
      background-image: url(../img/profile_3.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 3px solid black;
    }

    div.text-heading {

      @media (min-width: 767.98px) {
        padding-left: 5rem;
        margin-right: -10rem;
      }

      @media (max-width: 767.98px) {
        padding-top: 3em;
        //margin-left: -0.8em;
      }
    }

    h1 {
      font-size: 5em;
    }
  }

  section.research {
    background-color: $green;
    padding-top: 2rem;
    padding-bottom: 2rem;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  section.publications {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    p {
      margin-bottom: 2rem;
    }

  }

  section.contact {
    background-color: $green;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .buttons {
      display: flex;
      justify-content: center;
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .btn {
      width: 70px;
      height: 70px;
      text-align: center;
      margin: 1rem;
      border-radius: 20%;
    }

    .fa {
      font-size: 3em;
      margin-top: 1rem;
    }

    .ai {
      font-size: 3em;
      margin-top: 1rem;
    }

    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
    }

    .ai:hover {
      opacity: 0.7;
    }

    /* Set a specific color for each brand */

    /* Facebook */
    .fa-github {
      color: white;
    }

    .fa-linkedin {
      color: white;
    }

    /* Twitter */
    .fa-twitter {
      color: white;
    }

    .fa-instagram {
      color: white;
    }

    .ai-google-scholar {
      color: white;
    }

  }
}

article.footer {
  text-align: center;
  color: white;
  background-color: darkslategrey;
  padding-top: 3rem;
  padding-bottom: 3rem;

  p {
    font-size: 1.25em;
  }
}