$purple: #8F6593; //pomp and power
$violet: #372549; // russian violet
$lavendergray: #C4BCD0; // lavender gray

// https://coolors.co/1a1423-372549-c4bcd0-8f6593-3b252c
// http://www.cs.umd.edu/~dmcelfre/
// https://www.candiceschumann.com/publications